<a href="https://colab.research.google.com/github/jes-coder/DSA-58001/blob/main/Python_Array_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [21]:
import array
array.typecodes   #to use all the typecodes 

a = array.array('i',[1,2,3,4,5,6,7,8,9,10]) #initialize the elements of a
b = array.array('f',[1.5,2.5,3.5,4.5,5.5,6.5,7.5,8.5,9.5,10.5])    #initialize the elements of b

print(a.typecode)
print(b.typecode)

i
f

Example 2: Create an array of elements of float/decimal number

In [ ]:
a = arr .array('f' ,[1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(a)

Insert an element: 11 to the first index of the array a

In [14]:
a.insert(0, 11)
print(a)
b.insert(-1, 11)
print(b)

b[-1]=12
print(b)

array('i', [11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5, 9.5, 12.0])

In [ ]:
a = arr .array('f',[1,2,3,4,5,6,7,8,9,10])
print(a)
a.insert(10,-1) #out of range
print(a)

#Linked Lists

In [ ]:
#Initialize the node class
class Node:
  def __init__(self,data): 
    self.data = data   #initialize the object node
    self.next = None    #initialize as null

class LinkedList:
  def __init__(self):
    self.head = None  #initialize the head of the node
  def printList(self):
    temp = self.head
    while(temp):
      print(temp.data)
      temp = temp.next
 
#empty list
if __name__=='_main_':
  llist = LinkedList()
  llist.head = Node(1)
  second = Node(2)
  third = Node(3)
  
llist.head.next = second
second.next = third

llist.printlist()